body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #eee;
}

header {
  background-color: #4c2676;
  color: white;
  font-size: 1rem;
}

input {
  border-radius: 2%;
  border-color: #b9b9ba;
  width: 400px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
}

button {
  background-color: #4c2676;
  color: white;
  border-radius: 15%;
  width: 60px;
  height: 35px;
  display: inline;
}

img {
  width: 350px;
}

#entry-notes {
  width: 830px;
  height: 200px;
  margin-top: 20px;
}

.row .column-full {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.column-full label input[type='text'] {
  display: flex;
}

button:hover {
  background-color: rgb(128, 52, 205);
  cursor: pointer;
}
